body {
  background-color: #eccd8f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  background-color: rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 40px auto;
  padding: 10px 30px;
  border-radius: 6px;
}

h1 {
  text-align: center;
}

p {
  line-height: 1.5;
  text-align: center;
  margin: 40px 0;
}

img {
  display: block;
  max-width: 320px;
  margin: 40px auto;
  border-radius: 6px;
}

.navigation-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation-links a {
  text-decoration: none;
  color: rgb(63, 38, 1);
  margin: 15px;
}

.navigation-links a:hover {
  transform: translate(0, -5px);
}

@media (max-width: 500px) {
  img {
    width: 70vw;
  }
}
